outputs/*
slurm_outputs/*

sparselearning.egg-info/*

wandb/*
#wandb_api.key
__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
*idea*
.vscode/*

# Datasets
datasets/*
data/*
.pytest_cache/*

Icon*
*Icon*
*.pth
*.key
 
.ipynb_checkpoints
figs
