black
einops

# Hydra Dependencies
git+https://github.com/facebookresearch/hydra.git#egg=hydra-ax-sweeper&subdirectory=plugins/hydra_ax_sweeper
git+https://github.com/facebookresearch/hydra.git#egg=hydra_colorlog&subdirectory=plugins/hydra_colorlog
git+https://github.com/facebookresearch/hydra.git
git+https://github.com/facebookresearch/hydra.git#egg=hydra-joblib-launcher&subdirectory=plugins/hydra_joblib_launcher
git+https://github.com/facebookresearch/hydra.git#egg=hydra-optuna-sweeper&subdirectory=plugins/hydra_optuna_sweeper

matplotlib
multipledispatch
numpy
pytest

sphinx
sphinx-rtd-theme

torch
torchvision
tqdm
wandb