black
brokenaxes
einops
hydra-ax-sweeper
hydra-joblib-launcher
hydra-core
hydra_colorlog
matplotlib
millify
multipledispatch
numpy
pytest
torch
torchvision
tqdm
# WandB joblib patch
# See: https://github.com/wandb/client/issues/1525#issuecomment-749346781
# Can revert to official release
# once patched in
git+git://github.com/wandb/client.git@task/joblib#egg=wandb
